<section class="section-sub-banner bg-9">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
                <hr>
                <hr>
                <h2>Thông tin N5-BOOKING</h2>
                <p>Website cho phép người dùng đặt phòng khách sạn online!</p>
            </div>
        </div>

    </div>
</section>
<hr>
<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h1><b style="color: red; font-weight:bold ;">DANH SÁCH ĐƠN PHÒNG</b></h1>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0"></th>
                                <th class="border-0" style="color:blue;font-weight:bold; font-size:25px">Tên phòng</th>
                                <th class="border-0" style="color:blue;font-weight:bold; font-size:25px">Người đặt</th>
                                <th class="border-0" style="color:blue;font-weight:bold; font-size:25px">Giá</th>
                                <th class="border-0" style="color:blue;font-weight:bold; font-size:25px">Ngày nhận</th>
                                <th class="border-0" style="color:blue;font-weight:bold; font-size:25px">Ngày trả</th>
                                <th class="border-0" style="color:blue;font-weight:bold; font-size:25px">Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each reservation}}
                            <tr style="color:black;font-weight:bold; font-size:20px; align:center;">
                                <td></td>
                                <td>{{room.code}}</td>
                                <td>{{address}}</td>
                                <td>{{cost}}</td>
                                <td>{{arrivalDate}}</td>
                                <td>{{departureDate}}</td>
                                 <td >
                                    <a href="#" style="color: red;"><u>XÓA</u></a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>