<!-- BANNER SLIDER -->
<section class="section-slider slider-style-2 clearfix">
    <div id="slider-revolution">
        <ul>
            <li data-transition="fade">
                <img src="images/slider/img-8.jpg" data-bgposition="left center" data-duration="14000"
                    data-bgpositionend="right center" alt="">

                <div class="tp-caption sft fadeout slider-caption-sub slider-caption-1" data-x="center" data-y="100"
                    data-speed="700" data-start="1500" data-easing="easeOutBack">
                    <img src="images/slider/hom1-slide1.png" alt="icons">
                </div>

                <div class="tp-caption sft fadeout slider-caption-sub slider-caption-1" data-x="center" data-y="240"
                    data-speed="700" data-start="1500" data-easing="easeOutBack">
                    WELCOME TO
                </div>

                <div class="tp-caption sfb fadeout slider-caption slider-caption-sub-1" data-x="center" data-y="280"
                    data-speed="700" data-easing="easeOutBack" data-start="2000">N5-BOOKING
                </div>

                <a href="/room" class="tp-caption sfb fadeout awe-btn awe-btn-12 awe-btn-slider" data-x="center"
                    data-y="380" data-easing="easeOutBack" data-speed="700" data-start="2200">VIEW NOW</a>
            </li>

            <li data-transition="fade">
                <img src="images/slider/img-1.jpg" data-bgposition="left center" data-duration="14000"
                    data-bgpositionend="right center" alt="">

                <div class="tp-caption sft fadeout" data-x="center" data-y="195" data-speed="700" data-start="1300"
                    data-easing="easeOutBack">
                    <img src="images/slider/icon-slider-1.png" alt="">
                </div>
                <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="365"
                    data-easing="easeOutBack" data-speed="700" data-start="2200">JUST LIKE YOU
                </div>

                <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="395"
                    data-easing="easeOutBack" data-speed="700" data-start="2400"><img
                        src="images/slider/icon-slider-2.png" alt=""></div>
            </li>
            <li data-transition="fade">
                <img src="images/slider/img-6.jpg" data-bgposition="left center" data-duration="14000"
                    data-bgpositionend="right center" alt="">

                <div class="tp-caption sft fadeout" data-x="center" data-y="195" data-speed="700" data-start="1300"
                    data-easing="easeOutBack">
                    <img src="images/slider/icon-slider-1.png" alt="">
                </div>
                <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="365"
                    data-easing="easeOutBack" data-speed="700" data-start="2200">SIGN UP NOW!
                </div>

                <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="395"
                    data-easing="easeOutBack" data-speed="700" data-start="2400"><img
                        src="images/slider/icon-slider-2.png" alt=""></div>
            </li>
        </ul>
    </div>

</section>
<!-- END / BANNER SLIDER -->
<!-- CHECK AVAILABILITY -->
<section class="section-check-availability">
    <div class="container">
        <div class="check-availability">
            <div class="row">
                <div class="col-lg-3">
                    <h2>TÌM PHÒNG TRỐNG NGAY</h2>
                </div>
                <div class="col-lg-9">
                    <form method="post">
                        <div class="availability-form">
                            <input type="text" name="arrivalDate" class="awe-calendar from" placeholder="Ngày đến">
                            <input type="text" name="departureDate" class="awe-calendar to" placeholder="Ngày đi">

                            <select class="awe-select" name="adults">
                                <option>Người lớn</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <select class="awe-select" name="childs">
                                <option>Trẻ em</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <div class="vailability-submit">
                                <button type="submit" class="awe-btn awe-btn-13">TÌM PHÒNG HỢP LÝ NHẤT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END / CHECK AVAILABILITY -->

<!-- ROOM -->
<section class="section-room bg-white">
    <div class="container">
        <div class="room-wrap-1">
            <div class="row">
                <!-- ITEM -->
                {{#each listRooms}}
                <div class="col-md-6">
                    <div class="room_item-1">
                        <h2><a href="#">{{roomClass}} ROOM</a></h2>
                        {{#each image}}
                        <div class="img">
                            <a href="#"><img src="{{this}}" alt=""></a>
                        </div>
                        {{/each}}
                        <div class="desc">
                            <p>{{description}}</p>
                            <ul>
                                <li>Max: {{max}} Person(s)</li>
                                <li>Size: {{size}}</li>
                                <li>View: chua co</li>
                                <li>Gường: {{bed}}</li>
                            </ul>
                        </div>
                        <div class="bot">
                            <span class="price">Starting <span class="amout">{{price}}</span> /days</span>
                            <a href="/getroominfo?roomId={{_id}}" class="awe-btn awe-btn-13">VIEW DETAILS</a>
                        </div>
                    </div>
                </div>
                {{/each}}
                <!-- END / ITEM -->
                <!-- ITEM -->
            </div>
        </div>
    </div>
</section>
<!-- END / ROOM -->